.navbar {
    background-color: #4F4A45;
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.navbar a:hover {
    color: #ED7D31;
}
.navbar .logo img {
    width: 35px;
}